/*global css settings*/

ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  background: #eeeeee;
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.header {
  color: white;
  background: black;
  height: 40px;
}
.main {
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  position: absolute;
  display: -webkit-box;
}
.main .side-bar {
  width: 200px;
}
.main .side-bar li {
  padding: 4px 0 4px 12px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #dddddd;
}
.main .side-bar li a {
  color: #333333;
}
.main .content {
  -webkit-box-flex: 1;
  background: blue;
}
